{{- /* Head custom content area start */ -}}
{{- /*     Insert any custom code (web-analytics, resources, etc.) - it will appear in the <head></head> section of every page. */ -}}
{{- /*     Can be overwritten by partial with the same name in the global layouts. */ -}}
{{- /* Head custom content area end */ -}}

<script defer data-domain="page.luistavares.pt" src="https://plausible-analytics-ce-production-d449.up.railway.app/js/script.file-downloads.hash.outbound-links.pageview-props.revenue.tagged-events.js"></script>
<script>window.plausible = window.plausible || function() { (window.plausible.q = window.plausible.q || []).push(arguments) }</script>
<script defer src="https://cloud.umami.is/script.js" data-website-id="1ef3ce72-4329-4b00-bdc8-e932e1c43a0d"></script>
<script 
 defer 
 data-site-id="page.luistavares.pt" 
 src="https://assets.onedollarstats.com/tracker.js"> 
</script>

